/* Made with love by Mutiullah Samim*/


/* login page styles */
@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('https://getwallpapers.com/collection/dark-blue-hd-wallpapers');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #2222d0;
}

.social_icon span:hover{
color: rgb(101, 103, 215);
cursor: pointer;
}

.card-header h3{
color: rgb(189, 128, 128);
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #40a86d;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #f01811;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: rgb(180, 89, 89);
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}